name: Lint

on:
    push:
    pull_request:

permissions:
    contents: read

jobs:
    ruff:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
              with:
                  python-version: "3.x"
            - name: Install uv
              run: |
                  python -m pip install --upgrade pip
                  pip install uv
            - name: Run Ruff
              run: uv run --extra dev ruff check --output-format=github .
